body {
  background-color: peachpuff;
  font-family: Arial, Helvetica, sans-serif;
}

#box {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  border-style: dotted;
  border-width: thick;
  background-color: white;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}

.line {
  border: thick;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-style: dotted;
}

#inside  {
  padding: 10px;
}

#small {
  font-size: smaller;
}

ul {
  list-style-type: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}

li::first-letter {
  text-transform: uppercase;
  font-weight: bolder;
}

#copyright{
  font-size: 10px;
}
